// _variables.scss
$primary-color: rgba(103, 58, 183, 0.7);
$primary-color-solid: rgb(160, 127, 217);
$primary-color-solid-one: rgba(179, 157, 216, 0.7);
$primary-color-light: rgba(103, 58, 183, 0.5);
$secondary-color: #07315b;
$background-color: #f4fffe;
$font-color-search: rgba(0, 0, 0, 0.7);
$font-color-light: #fff;
$font-color-dark: #07315b;
$border-color: #e1e1e1;
$border-color-one: rgba(212, 187, 254, 0.7);
$border-radius: 10px;
$box-shadow: 0 0 40px 0 $border-color;
