// auth.scss
@import "../constants/variables";
@import "../constants/mixins";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

* {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

.myform-area {
  overflow: hidden;
  padding: 60px 0;
  background: $background-color;
  position: relative;
  padding-top: 40px;
  padding-bottom: 100px;

  .form-area {
    position: relative;
    background: $primary-color;
    width: 100%;
    overflow: hidden;
    @include box-shadow;
    @include border-radius;
  }

  .form-content,
  .form-input {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;

    &.form-content {
      padding: 40px 30px;
      h2,
      p {
        color: $font-color-light;
      }
      ul {
        margin-top: 50px;
        li {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }

    &.form-input {
      background-color: white;
      padding: 40px 30px;
      @include box-shadow;

      h2 {
        margin-bottom: 20px;
        color: $secondary-color;
      }

      input,
      textarea {
        height: 55px;
        padding: 25px 0px 0 0;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid $border-color;
        color: $secondary-color;

        &:focus,
        &:valid {
          border-bottom: 2px solid $primary-color;
        }
      }

      label {
        position: absolute;
        text-transform: capitalize;
        padding-top: 6px;
        left: 30px;
        pointer-events: none;
        font-size: 14px;
        color: #595959;
        margin-bottom: 0;
        @include transition(0.6s);

        input:focus ~ &,
        textarea:focus ~ &,
        input:valid ~ &,
        textarea:valid ~ & {
          @include form-label-focus;
        }
      }
    }

    .myform-button {
      margin-top: 30px;
      .myform-btn {
        width: 100%;
        height: 50px;
        font-size: 17px;
        background: $primary-color;
        border: none;
        border-radius: 50px;
        color: $font-color-light;
        cursor: pointer;
        @include transition;

        &:hover {
          background: $secondary-color;
        }
      }
    }

    .form-text {
      margin-top: 30px;
      span a {
        color: $primary-color;
      }
    }
  }
}

.bg-blue {
  --bs-bg-opacity: 1;
  background-color: rgba($primary-color-solid, 1) !important;
}

.bg-dark-blue {
  background: $primary-color-solid !important;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.25em;
}

.btn-outline-success {
  color: $font-color-search !important;
  border-color: $border-color-one !important;

  &:hover {
    background-color: $primary-color-solid-one !important;
  }
}

.heading-noaccount-login,
.btn-register-login {
  display: block;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;

  &.btn-register-login {
    color: $primary-color-solid;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 10px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      color: $primary-color;
    }
  }
}

.form-switch {
  padding-top: 0.4em;
  padding-left: 3.5em !important;
}

.navbar-brand {
  color: $font-color-light !important;
}
