.maincontainer {
  min-height: calc(100vh - 110px);
  background-color: #ffffff;
  padding-bottom: 30px;
}

.middlebody {
  background-color: #fff;
  border-radius: 10px;
  min-height: calc(123vh - 100px);
}

@media (max-width: 576px) {
  .maincontainer {
    padding-bottom: 0px;
  }
  .middlebody {
    min-height: calc(100vh - 67px);
  }
}

.btncolorback {
  background: rgb(103, 58, 183) !important;
  color: white !important;
}
